### Wrangle report - WeRate Dogs 
###### A data-wragling project by Thaina Venteu


Real-world data are not really clean. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. Here, we aim to wrangle WeRateDogs Twitter data to obtain insights about what people think about the dogs on the twitter page. The dogs receive ratings and these ratings almost always have a denominator of 10 and numerators of these ratings are greater than 10 such as 11/10, 12/10, 13/10, etc. because they are good dogs.

All the analysis were created by using Python 3 and its libraries. We separated the data wrangling process in 3 steps: 

1. Data gathering 
2. Data assessing 
3. Data cleaning

Some data cleaning considerations and troubleshooting: 

##### - There are some errors with the classification as we can see when rating_denominator greater than 10. These errors have been removed from dataframe by dropping the tweets. The problem with ’Ratings denominator> 10’ was solved by removing this data from the dataframe using the ’.drop ()’ function.
(I decided by keeping the errors with the numerator_rating in cases that it means they are really good dogs)


##### - Some dog names were not extracted correctly, as we can see in the columns filled with ’quite’,
’a’ or ’an’. These words were replaced with ’none’ in the name column.


##### - The columns ’doggo’, ’pupper’ and ’puppo’ are replaced by ’dog_stage’ column by summing these three columns and creating the resulting ’dog_stage’ column, as you can see in the line below. 


df_archive [’ dog_stage ’] = df_archive [’ doggo ’] + df_archive [’ pupper ’] +
df_archive [’ puppo ’]
After that, the ’doggo’, ’pupper’ and ’puppo’ columns were removed.



##### - There were duplicated data in the ’tweet_jason’ dataframe and they were removed.


##### - Columns with missing data in df_archive: [in_reply_to_status_id, in_reply_to_user_id,
retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls]


##### - The decimal dog ratings was extracted by using .str.extract() function.



The data wrangling process was performed by using the following libraries:


1. pandas

2. NumPy

3. requests

4. tweepy

5. json